// Menu fade-in
@keyframes card-fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Rotating tick
@keyframes tick-rotation {
    0% {
        transform : rotate(180deg);
    }
    100% {
        transform : rotate(0deg);
    }
}

// Main page loader equalizer animation
@keyframes loader-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

// Shows loader animation and hides it at the end
@keyframes show-loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

// Hover animation for the hearts
.heart-icons-container {
    display: flex;

    .fa-solid.fa-heart {
        display: none;
    }
    
    // Shows purple hurt when the heart is hovered
    &:hover {

        .fa-solid.fa-heart {
            display: flex;
        }

        .fa-regular.fa-heart {
            display: none;
        }
    }
}