@mixin flex-row() {
    display: flex;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin boxshadow() {
    box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.30);
}

@mixin card-border-radius() {
    border-radius: 10px;
}

@mixin list-border-radius() {
    border-radius: 20px;
}

@mixin border-top() {
    border-radius: 20px 20px 0px 0px;
}

@mixin button-borders() {
    border-radius: 20px;
}

@mixin text-overflow-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}