.button {
    @include card-border-radius;
    background: linear-gradient(to bottom right, $pale-magenta, $amethyst);
    border: 0;
    
    .steplist-text {
        color: white;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}