// Style for every buttons
.button {
    @include button-borders();
    @include boxshadow();
    background: linear-gradient(to bottom right, $pale-magenta, $amethyst);
    border: 0;
    
    &.steplist-text {
        color: white;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.60);
        opacity: 0.8;
    }
}