$title-font: 'Shrikhand';
$primary-font: 'Roboto', sans-serif;

.site-title {
    font-family: $title-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
}

.position-text {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
}

.section-title {
    font-family: $primary-font;
    font-weight: bold;
    letter-spacing: -1px;
}

.section-subtitle {
    font-family: $primary-font;
    letter-spacing: 0px;
}

.steplist-text {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 700;
}

.footer-text {
    font-family: $primary-font;
    font-size: 14px;
}

.menu-card-price {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: bold;
    margin-block-end: 10px;
}