.main-wrapper {

    .position-wrapper {
        @include flex-row();
        background-color: $whisper;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .introduction-wrapper {
        @include flex-column();
        background-color: $white-smoke;
        align-items: center;

        .introduction-text-wrapper {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;

            .section-title {
                margin-block-start: 40px;
                margin-block-end: 10px;
            }

            .section-subtitle {
                margin-block-start: 10px;
                margin-block-end: 30px;
            }
        }

        .button {
            padding: 15px 20px;
            margin-bottom: 40px;
        }
    }

    .fonctionnement-wrapper {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;

        .steplist-wrapper {
            @include flex-column();
            align-items: center;

            .steplist {
                @include flex-row();
                @include boxshadow();
                @include card-border-radius();
                background-color: $white-smoke;
                overflow: visible;
                width: 100%;
                max-width: 330px;
                height: 70px;
                align-items: center;
                column-gap: 20px;
                margin-bottom: 20px;
    
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $amethyst;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
    
                    .step-number {
                        font-family: $primary-font;
                        font-size: 12px;
                        color: white;
                        margin: 0;
                    }
                }
    
                &:hover {
                    background-color: $transparent-amethyst;
            
                    .fa-solid {
                        color: $amethyst;
                    }
                }
            }

        }
    }

    .restaurants-wrapper {
        background-color: $white-smoke;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px;
        margin-bottom: 60px;

        .main-card-wrapper {
            @include flex-column();
            row-gap: 15px;

            .main-card {
                @include boxshadow();
                @include card-border-radius();
                text-decoration: none;
                color: black;

                &:visited {
                    color: black;
                }

                .main-card-image-wrapper {
                    display: flex;
                    height: 200px;
                    .restaurant-image {
                        @include border-top();
                        object-fit: cover;
                        width: 100%;
                    }
                }
    
                .main-card-informations-wrapper {
                    @include flex-row();
                    margin-right: 15px;
                    margin-left: 15px;
                    align-items: center;
                    justify-content: space-between;
                    
                    .main-card-titles-wrapper {
                       
                        .section-title {
                            font-size: 16px;
                            margin-block-start: 15px;
                            margin-block-end: 5px;
                        }

                        .section-subtitle {
                            font-size: 16px;
                            margin-block-start: 5px;
                            margin-block-end: 15px;
                        }
                    }

                    .heart-icons-container {
                        display: flex;

                        .fa-solid.fa-heart {
                            display: none;
                        }

                        &:hover {

                            .fa-solid.fa-heart {
                                display: flex;
                            }

                            .fa-regular.fa-heart {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}