// Loader style, in front of the content for 3 seconds
.loader-wrapper {
    @include flex-column();
    animation: show-loader 3s forwards;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    .loader-image-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        .loader-logo {
            width: 60%;
            object-fit: fill;
        }
    }

    // Wrapper for the equalizer animation
    .loader-animation-wrapper {
        @include flex-row();
        justify-content: center;
        width: 100%;
        height: 1.5vw;
        max-height: 15px;
        column-gap: 10px;
        .rectangle {
            width: 12%;
            animation: loader-animation 1s infinite;

            // Adding delay and changing color for each child. Delay greater for the next
            &:nth-child(1) {
                background-color: $amethyst;
            }
    
            &:nth-child(2) {
                background-color: $pale-magenta;
                animation-delay: 100ms;
            }
    
            &:nth-child(3) {
                background-color: $riptide;
                animation-delay: 200ms;
            }

            &:nth-child(4) {
                background-color: $pale-magenta;
                animation-delay: 300ms;
            }
    
            &:nth-child(5) {
                background-color: $amethyst;
                animation-delay: 400ms;
            }
        }
    }
}

.main-wrapper-index {

    .position-wrapper {
        @include flex-row();
        background-color: $whisper;
        column-gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .introduction-wrapper {
        @include flex-column();
        background-color: $white-smoke;
        align-items: center;

        .introduction-text-wrapper {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;

            .section-title {
                margin-block-start: 40px;
                margin-block-end: 10px;
            }

            .section-subtitle {
                margin-block-start: 10px;
                margin-block-end: 30px;
            }
        }

        .button {
            padding: 15px 20px;
            margin-bottom: 40px;
        }
    }

    .fonctionnement-wrapper {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;

        .steplist-wrapper {
            @include flex-column();
            align-items: center;

            .steplist {
                @include flex-row();
                @include boxshadow();
                @include card-border-radius();
                background-color: $white-smoke;
                overflow: visible;
                width: 100%;
                max-width: 330px;
                height: 70px;
                align-items: center;
                column-gap: 20px;
                margin-bottom: 20px;
    
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $amethyst;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
    
                    .step-number {
                        font-family: $primary-font;
                        font-size: 12px;
                        color: white;
                        margin: 0;
                    }
                }
                
                // Change background and icon of 3 steplist on hover
                &:hover {
                    background-color: $transparent-amethyst;
            
                    .fa-solid {
                        color: $amethyst;
                    }
                }
            }

        }
    }

    .restaurants-wrapper {
        background-color: $white-smoke;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px;
        margin-bottom: 60px;

        .main-card-wrapper {
            @include flex-column();
            row-gap: 15px;

            .main-card {
                @include boxshadow();
                @include card-border-radius();
                text-decoration: none;
                color: black;

                &:visited {
                    color: black;
                }

                .main-card-image-wrapper {
                    display: flex;
                    height: 200px;
                    .restaurant-image {
                        @include border-top();
                        object-fit: cover;
                        width: 100%;
                    }
                }
    
                .main-card-informations-wrapper {
                    @include flex-row();
                    margin-right: 15px;
                    margin-left: 15px;
                    align-items: center;
                    justify-content: space-between;
                    
                    .main-card-titles-wrapper {
                       
                        .section-title {
                            font-size: 16px;
                            margin-block-start: 15px;
                            margin-block-end: 5px;
                        }

                        .section-subtitle {
                            font-size: 16px;
                            margin-block-start: 5px;
                            margin-block-end: 15px;
                        }
                    }

                    .heart-icons-container {
                        display: flex;

                        // Hide purple heart by default
                        .fa-solid.fa-heart {
                            display: none;
                        }

                        &:hover {

                            // Show purple heart on hover
                            .fa-solid.fa-heart {
                                display: flex;
                            }

                            // Hide regular heart on hover
                            .fa-regular.fa-heart {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}