// Restaurant style for screens wider than 769px. Row of 2 and then 1 center under the 2
@media screen and (min-width : 769px) {
    .main-wrapper-restaurant {
        
        .restaurant-menu-wrapper {

            .menu-wrapper {
                @include flex-row();
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 20px;

                .submenu-wrapper {
                    width: 48%;
                }
            }
        }
    }
}

// For 1200px screens, the 3 menus in row
@media screen and (min-width : 1200px) {
    .main-wrapper-restaurant {
        
        .restaurant-menu-wrapper {

            .menu-wrapper {
                @include flex-row();
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 20px;

                .submenu-wrapper {
                    width: 30%;
                }
            }
        }
    }
}