.footer-wrapper {
    background-color: $night-rider;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;

    .site-title {
        color: white;
        font-size: 20px;
        margin-block-end: 15px;
    }

    .footer-link {
        @include flex-row();
        align-items: center;
        column-gap: 10px;
        width: fit-content;
        text-decoration: none;
        color: white;

        .footer-text {
            margin-block-start: 5px;
            margin-block-end: 5px;
        }
    }
}